/***** BASE STYLES *****/

body	{
	font-family: 'Abel', sans-serif;
	background-color: #004d66;
}


/***** HEADER *****/

.header {

	background-color: #004d66;
  	margin: 30px;
  	font-size: 30px;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: center;
  	clear: all;


}


/***** INTRO *****/

.intro	{

	background-color: #004d66;
  	margin: 30px;
  	font-size: 60px;
  	color: #ffffff;
  	line-height: all;
  	margin: 30px;
  	padding: 30px;
  	text-align: center;
  	clear: all;


}


#nav	{
    float: right; 
    padding: ;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    padding: ; 

}



/***** ABOUT *****/

.about	{

	background-color: #004d66;
  	margin-left: 30px ;
  	font-size: 30px;
  	font-weight: normal;
  	line-height: ;
  	color: #ffffff;
  	text-align: ;
  	clear: all;

}




/***** WORK *****/


.portfolio {

	background-color: #ffffff;
  	font-weight: normal;
  	line-height: ;
  	padding: 30px;
  	text-align: center;
  	clear: all;

}

.third-width	{
	margin: 50px 50px 50px 50px;
}


/***** CONTACT *****/

.contact {

	background-color: #004d66;
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: center;
  	clear: all;

}

/***** FOOTER *****/

.footer {
	text-align: center;

}