/***** BASE STYLES *****/

body	{
	font-family: 'Abel', sans-serif;
	background-color: #122336;
}


/***** HEADER *****/

.header {

	background-color: #122336;
  	margin: 30px;
  	font-size: 30px;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: center;
  	clear: all;


}


/***** INTRO *****/

.intro	{

	background-color: #122336;
  	margin: 30px;
  	font-size: 60px;
  	color: #ffffff;
  	line-height: all;
  	margin: 30px;
  	padding: 30px;
  	text-align: center;
  	clear: all;


}


#nav	{  
	float: left;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;

}



/***** ABOUT *****/

.about	{

	background-color: #ffffff;
  	font-size: 30px;
  	font-weight: normal;
  	text color: #122336;
  	text-align: center ;
  	clear: all;

}




/***** PORTFOLIO *****/


.portfolio {

	background-color: #ffffff;
  	color: #122336;
  	text-align: center;
  	clear: all;

}



/***** CONTACT *****/

.contact {

	background-color: #122336;
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: center;
  	clear: all;

}

/***** FOOTER *****/

.footer {
	text-align: center;
	color: #ffffff;

}