/***** BASE STYLES *****/

body	{
	font-family: 'Abel', sans-serif;
	background-color: #122336;
}


/***** HEADER *****/

.header {

	background-color: #122336;
  	margin: 30px;
  	font-size: 30px;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: center;
  	clear: all;


}


/***** INTRO *****/

.intro	{

	background-color: #122336;
  	margin: 30px;
  	font-size: 60px;
  	color: #ffffff;
  	line-height: all;
  	margin: 30px;
  	padding: 30px;
  	text-align: center;
  	clear: all;


}


#nav	{  
	text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: inline-block;

}



/***** ABOUT *****/

.about	{
	font-size: 30px;
	color: #ffffff;
  	font-weight: normal;
  	text-align: center;
  	clear: all;

}




/***** PORTFOLIO *****/

#roguetxt, #jubileetxt, #distractedtxt	{
	color: #ffffff;
	text-align: center;
	font-size: 25px;
}

#distractedpic, #roguepic	{
	width: 50px;
	margin-left: 300px;
	margin-right: 300px;
}

#roguepic	{
	margin-top: 200px;
}

#jubileepic	{
	width: 60px;
	margin-left: 300px;
	margin-right: 120px;
}

/***** CONTACT *****/

.contact {

	background-color: #122336;
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: 20px;
  	padding: ;
  	text-align: center;
  	clear: all;

}

/***** FOOTER *****/

.footer {
	text-align: center;
	color: #ffffff;

}