/***** BASE STYLES *****/

body	{
	font-family: 'Abel', sans-serif;
	background-color: #004d66;

}


/***** HEADER *****/

.header {

	background-color:
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: ;
  	clear: all;


}


/***** INTRO *****/

.intro	{

	background-color:
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: ;
  	clear: all;


}


#nav	{
    float: right; 
    padding: ;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: ;
    color: ;
    padding-left: ; 

}



/***** ABOUT *****/

.about	{

	background-color:
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: ;
  	clear: all;

}




/***** WORK *****/


.portfolio {

	background-color:
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: ;
  	clear: all;

}


/***** CONTACT *****/

.contact {

	background-color:
  	margin: ;
  	font-size: ;
  	font-weight: normal;
  	line-height: ;
  	margin: ;
  	padding: ;
  	text-align: ;
  	clear: all;

}